<div class="inner cover">
  <h1 class="cover-heading">Greetings.</h1>
  <p class="lead"> It is not death that a man should fear, <br> but he should fear never beginning to live.</p>
  <p class="lead">- Marcus Aurelius</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>

